*, ::before, ::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color:rgb(0, 25, 50);
}

#cmd-weather,
#city-weather {
  background : linear-gradient(45deg, lightgreen,green,lightgreen,green, lightgreen);
  background-attachment: fixed;

  min-width : 20rem;
}

#city-weather {
  margin : 20px;
  border-radius: 30px ;
  display : flex;
  flex-direction : column;
  justify-content: center;
  font-size : 2rem;
}

#city-weather > * :not(hr){
  margin : 5px 0px; 
  padding : 10px 0px ;
}

#main-temperature {
  min-width: 200px;
  text-align : center;
}

.space-envenly {
  display : flex;
  flex-direction : column;
  align-items: center;
}

#location {
  color : white;
  font-size : 3rem;
  text-align : center;
  text-shadow: 1px 1px 0 black;
  margin : 20px 0px 0px 0px;
}

#weather-icon {
  width : 100px;
  margin : 20px;
}

#weather-info {
  display : flex;
  align-items: center;
  gap : 10px;
}

hr {
  border: 1px solid rgba(0, 0, 255, 0.25);
  margin: 20px 0;
}

#cmd-weather {
  margin: 10px 10px;
  padding : 5px 20px;

  border-radius: 30px ;
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;

}

#cmd-weather > * {
  margin: 10px 10px;
  padding : 5px 10px;

  text-align : center;
  justify-items:center;
  max-width : 10rem;
  font-size : 1.1rem;
}

#cmd-weather > p {
  font-size : 1.3rem;
}

#get-weather-btn {
  padding : 5px 20px;
  border-radius : 5px;
  background-color : blue;
  font-weight: bold;
  color : white;
}


@media screen and (min-width: 768px) {
  #city-weather{
    flex-direction : column;
  }

  #cmd-weather {
    flex-direction : row;
  }

  .space-envenly {
    flex-direction : row;
    justify-content : space-evenly;
  }
}