*{
  padding:0;
  margin:0;
}

h1 {
  text-align: center;
  margin:20px;
}

.gallery-items {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px;
}

.gallery-item {  
  width: 100%;
  max-width: 200px;
  margin: 8px;
  aspect-ratio: 3/4;
  object-fit: cover;
  overflow:hidden;
  cursor: pointer;
}

.gallery-item:hover {
  scale: 110%;
  box-shadow: 0 4px 8px rgb(0,0,0,0.4);
}

.lightbox{
  background-color: rgba(0, 0, 0, 0.7);
  position:fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
   z-index: 1000;
  display:none;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

#lightbox-image {
  background-color: lightgrey;
  border: 5px solid white;
  margin : 5px;
  max-width: 90%;
  max-height: 90%;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}