body {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.square {
  background: #1b1b32;
  width: 10rem;
  aspect-ratio: 1/1;
  margin-bottom: 20px;
  /* animation: slideSquare 2s infinite alternate ease-in-out; */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

/* @keyframes slideSquare {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
} */
